.countdown-timer {
    z-index: 5;
    position: absolute;
    margin-left: 30px;
    margin-top: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 18px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}
