.instructions {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: sticky;
    background-color: #242424;
    top: 0;
    width: 100%;
    z-index: 10;
    padding-bottom: 8px;

    .title {
        font-size: clamp(2rem, 5vw, 3rem);
        text-align: center;
        margin: 0;
    }

    .description {
        font-size: clamp(1rem, 2vw, 1.5rem);
        color: #c0c0c0;
        margin: 12px;
        text-align: center;
    }

    .button-container {
        display: flex;
    }

    .start-button,
    .reset-button {
        border-radius: 8px;
        border: 1px solid transparent;
        padding: 0.6em 1.2em;
        font-size: 1em;
        font-weight: 500;
        font-family: inherit;
        background-color: #1a1a1a;
        color: #646cff;
        cursor: pointer;
        transition: border-color 0.25s;
    }
    .start-button:hover {
        border-color: #646cff;
    }
    .start-button:active,
    .reset-button:active {
        background-color: #333783;
        transform: translateY(2px);
    }
    .reset-button {
        margin-left: 8px;
        color: #833333;
    }
    .reset-button:hover {
        border-color: #833333;
    }
}
