.video-preview-root {
    display: flex;
    align-items: center;
    flex-direction: column;

    .start-button {
        border-radius: 8px;
        border: 1px solid transparent;
        padding: 0.6em 1.2em;
        font-size: 1em;
        font-weight: 500;
        font-family: inherit;
        background-color: #1a1a1a;
        color: #646cff;
        cursor: pointer;
        transition: border-color 0.25s;
    }
    .start-button:hover {
        border-color: #646cff;
    }
    .start-button:active {
        background-color: #333783;
        transform: translateY(2px);
    }

    .overlay-text {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0%);
        font-size: 14px;
    }

    .video-overlay {
        margin-top: 1em;
        width: 100%;
        max-width: 90vw;
        border: 2px solid #646cff;
        border-radius: 12px;
        display: flex;

        video {
            z-index: 10;
            border-radius: 10px;
            width: 100%;
            height: auto;
            margin: 0;
        }
    }

    .snapshot-overlay {
        margin-top: 1em;
        margin-bottom: 1em;
        width: 100%;
        background-color: #1a1a1a;
        max-width: 90vw;
        border-radius: 12px;
        display: flex;

        .snapshot-canvas {
            z-index: 10;
            border-radius: 10px;
            width: 100%;
            height: auto;
        }
    }
}
