.video-preview-root {
  display: flex;
  align-items: center;
  flex-direction: column;

  .overlay-text {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    font-size: 14px;
  }

  .video-overlay {
    margin-top: 1em;
    width: 100%;
    max-width: 90vw;
    border: 2px solid #646cff;
    box-sizing: border-box;
    border-radius: 12px;
    display: flex;

    video {
      z-index: 5;
      border-radius: 10px;
      width: 100%;
      height: auto;
      margin: 0;
    }
  }

  .snapshot-overlay {
    margin-top: 1em;
    margin-bottom: 1em;
    width: 100%;
    background-color: #1a1a1a;
    max-width: 90vw;
    border-radius: 12px;
    display: flex;

    .snapshot-canvas {
      z-index: 5;
      border-radius: 10px;
      width: 100%;
      height: auto;
    }
  }
}
